<div class="feedback-container">
  <h3>Contact me</h3>
  <h4>This part is still in progress...</h4>
  <form (ngSubmit)="submitForm()">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email">
    </div>
    <div>
      <label for="name">Subject:</label>
      <input type="text" id="name" name="name" placeholder="Enter your name" [(ngModel)]="name">
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="5" placeholder="Enter your message" [(ngModel)]="message"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
