<section id="education">
  <div class="container">
    <h2>Education</h2>
    <div class="education-list">
      <div class="education-item" *ngFor="let education of educations">
        <div *ngFor="let edu of education.education" class="education-card">
          <div class="education-image">
            <img [src]="edu.image" alt="{{ edu.name }}" />
          </div>
          <div class="education-content">
            <h3>{{ edu.name }}</h3>
            <p>{{ edu.description }}</p>
            <a href="{{ edu.link }}" target="_blank" class="btn-link">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
