
        <section id="info">
            <h3>Contact Information & Repositories</h3>
            <div class="info-container">
                <!-- Contact Information -->
                <div class="info-item">
                    <img class="icon" src="../../assets/images/Gmail.png" alt="Gmail Logo">
                    <p class="info-text"><a href="mailto:filipzdelar@gmail.com">filipzdelar&#64;gmail.com</a></p>
                </div>
                <div class="info-item">
                    <img class="icon" src="../../assets/images/phone.png" alt="Phone Logo">
                    <p class="info-text">+381 69 1998 098</p>
                </div>
                <div class="info-item">
                    <img class="icon" src="../../assets/images/map.png" alt="Address Logo">
                    <p class="info-text">Branimira Cosica 17, Novi Sad, Serbia</p>
                </div>
                <div class="info-item">
                    <img class="icon" src="../../assets/images/linkedin.webp" alt="LinkedIn Logo">
                    <p class="info-text"><a href="https://www.linkedin.com/in/filip-zdelar/" target="_blank" rel="noopener noreferrer">LinkedIn Profile</a></p>
                </div>
                <!-- Repositories -->
                <div class="info-item">
                    <img class="icon" src="../../assets/images/gitlab.webp" alt="GitLab Logo">
                    <p class="info-text"><a href="https://gitlab.com/filipzdelar/" target="_blank" rel="noopener noreferrer">GitLab</a></p>
                </div>
                <div class="info-item">
                    <img class="icon" src="../../assets/images/github.webp" alt="GitHub Logo">
                    <p class="info-text"><a href="https://github.com/filipzdelar/" target="_blank" rel="noopener noreferrer">GitHub</a></p>
                </div>
            </div>
        </section>

        <button class="download-button" onclick="downloadCV()">Download CV</button>

