<div class="form-group">
    <div class="parent-container">
        <div class="child-div">
            <h1>Welcome to talkGPT!</h1>
            <img src="../../assets/images/bot.png" alt="BotGig Logo">
        </div>
    </div>
    <div class="text-center my-5">

      <button (click)="initiateRecording()" class="btn btn-lg btn-success" *ngIf="!recording">
        <i class="fas fa-microphone"></i> Start Recording
      </button>
      <button (click)="stopRecording()" class="btn btn-lg btn-danger" *ngIf="recording">
        <i class="fas fa-stop"></i> Stop Recording
      </button>
      <div class="mt-4" *ngIf="url">
        <audio controls>
          <source [src]="sanitize(url)" type="audio/wav">
        </audio>
      </div>
    </div>
  </div>