<p>home-to-talk works!</p>
<div class="form-group">
    <button class="btn btn-primary btn-block" (click)="talkToBot()">
        Talk to Bot
    </button>
    <button class="btn btn-primary btn-block" (click)="IfNeededBot()">
        If Needed Bot
    </button>
    <button class="btn btn-primary btn-block" (click)="endTalkBot()">
        End Talk Bot
    </button>

    <div style="text-align:center;margin-top: 200px;" >
        <button (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording" style="cursor: pointer;background-color: green;color: white;font-size: 40px;"> Start Recording </button>
        <button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording" style="cursor: pointer;background-color: red;color: white;font-size: 40px;"> Stop Recording </button>
        <audio controls="" *ngIf="url">
        <source [src]="sanitize(url)" type="audio/wav">
        </audio>
        </div>

</div>

