<header>
  <img src="../../assets/images/space.jpg" alt="A panoramic view of space" class="header-image">
  <nav>
    <ul>
      <li><a href="#hero">About</a></li>
      <!-- <li><a href="#education">Education</a></li> -->
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <section id="hero">
    <div class="hero-content">
      <h1>Filip Zdelar</h1>
      <h2>Software Developer & Web Expert</h2>
      <p>I build high-quality, scalable, and user-friendly web applications. Passionate about technology and delivering elegant solutions to complex problems.</p>
      <img src="../../assets/images/bot.png" alt="BotGig Logo" class="hero-image">
    </div>
  </section>

  <!-- Additional sections can be added as needed -->
  <!-- <section id="about">
    <div class="section-container">
      <h2>About Me</h2>
      <p>Hi, I'm Filip Zdelar. I'm a passionate software developer with a focus on web development who likes math. 
    </div>
  </section> -->

  <!-- <app-projects></app-projects> -->
  <app-chart></app-chart>
  <app-contact></app-contact>
</main>


<!-- <footer>
  <p>&copy; 2023 Filip Zdelar. All rights reserved.</p>
</footer> -->
<!-- -->


<!-- <a class="btn btn-primary position-fixed" [routerLink]="['/professional']" style="bottom: 20px; right: 20px;" role="button">
  <span class="iconify" data-icon="mdi:briefcase" data-inline="false"></span>
</a> -->
