h1 {
  text-align: center;
}


h2, p{
  
  text-align: center;
  border-bottom: 2px solid #007bff; 
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.child-div {
  width: 50%;
  height: 50%;
  text-align: center;
  margin: auto;
}
  




















  /* Example CSS styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  /* Additional logo styles */
}

nav {
  /* Additional navigation styles */
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  color: #ff0;
}

























/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Hero section */
#hero {
  background-color: #f1f1f1;
  text-align: center;
  padding: 50px;
}

/* About section */
#about {
  background-color: #fff;
  padding: 50px;
}

/* Projects section */
#projects {
  background-color: #f1f1f1;
  padding: 50px;
}

#contact {
  padding: 50px;
}

.project {
  text-align: center;
  margin-bottom: 30px;
}

.project img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
}

/* Contact section */
