<!--<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
-->
<html>
  <head>
    <title>My Webpage</title>
  </head>
  <body>
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
</head>

<body>
  <main>

    <section id="hero">
      <div class="child-div">
        <h1>Filip Zdelar</h1>
        <h2>(Backend | AI | Cloud) Developer</h2>
        <img src="../../assets/images/bot.png" alt="BotGig Logo">
      </div>
    </section>

    <section id="about">
      <h2>About Me</h2>
      <p>I turn into werewolf on the full moon.</p>
    </section>
    <app-projects></app-projects>

    <section id="projects">
      <h2>Projects</h2>
      <div class="project">
        <img src="../../assets/images/bot.png" alt="Project 1">
        <h3>Project 1</h3>
        <p>I worked on this</p>
      </div>
      <div class="project">
        <img src="../../assets/images/bot.png" alt="Project 2">
        <h3>Project 2</h3>
        <p>Also on this</p>
      </div>
    </section>

  <app-chart></app-chart>
  <app-contact></app-contact>
  <app-feedback></app-feedback>
</main>

</body>

</html>